.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s linear;
}

.footer__column-link:hover {
  opacity: .7;
}
